<html>
<head><title>Hello World</title></head>

<body>
  <form name="user" action="hello" method="post">
    Firstname: <input type="text" name="firstname" /> <br/>
    Lastname: <input type="text" name="lastname" /> <br/>
    <input type="submit" value="Save" />
  </form>

  <table class="datatable">
    <tr>
        <th>Firstname</th>  <th>Lastname</th>
    </tr>
    {% for user in users%}
    <tr>
        <td>{{user.firstname}}</td> <td>{{user.lastname}}</td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>